.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;;
}
.header-container h1{
    color: blue;
}
.navbar{
    background-color:#f8f9fa ;
    
}
.menu{
    list-style: none;
    display: flex;
    gap:15px;
}
.front-container{
    background-image: url('pexels-postiglioni-947185.jpg');
    background-size:cover;
    background-image: center;
    text-align: center;
    padding:80px 20px;

}
.reservation{
    display:flex;
 align-items: center;
 padding:7px 7px;
 justify-content:space-evenly;   
}
.reservation button{
    padding:7px;
    border-radius:30%;
    border:none;
}
.reservation p{
    border: 2px 5px;
}